<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="org.zshop.dao.ProductTypeDao">
	
	<sql id="productParams">
		id, name, status
	</sql>

	<select id="findAll" resultType="com.zshop.pojo.ProductType">
		SELECT <include refid="productParams"/>
		FROM t_product_type
	</select>
</mapper>